.site-title-custom {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #f5f6fa;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 50rem) {
  .site-title-custom {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.site-title-custom {
  font-size: 1.125rem !important;
}

@media (min-width: 31.25rem) {
  .site-title-custom {
    font-size: 1.125rem !important;
    line-height: 1.25;
  }
}

@media (min-width: 50rem) {
  .site-title-custom {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.site-title-custom:hover {
  background-image: linear-gradient(-90deg,
      #201f23 0%,
      rgba(32, 31, 35, 0.8) 80%,
      rgba(32, 31, 35, 0) 100%);
}

.site-title-custom {
  font-size: 1rem !important;
  font-weight: 700 !important;
}

/* Color */

.side-bar {
  background-color: oklch(12.9% 0.042 264.695) !important;
}

body {
  background-color: oklch(12.9% 0.042 264.695) !important;
}

.main-header {
  background-color: oklch(12.9% 0.042 264.695) !important;
}

.search-input {
  background-color: oklch(12.9% 0.042 264.695) !important;
  border-color: oklch(18% 0.05 264.695) !important;
  color: oklch(90% 0.02 264.695) !important;
}

html {
  scrollbar-gutter: stable;
}

/* This animates the whole page smoothly */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

/* Optional: If you want ONLY the content to slide like we had before */
#main-content {
  view-transition-name: main-content;
}

::view-transition-old(main-content) {
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both fade-out;
}

::view-transition-new(main-content) {
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both fade-in;
}

@keyframes fade-out {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(10px); }
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

@view-transition {
  navigation: auto;
}