.site-title-custom {
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #f5f6fa;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width: 50rem) {
    .site-title-custom {
        padding-right:2rem;
        padding-left: 2rem
    }
}

.site-title-custom {
    font-size: 1.125rem !important
}

@media (min-width: 31.25rem) {
    .site-title-custom {
        font-size:1.125rem !important;
        line-height: 1.25
    }
}

@media (min-width: 50rem) {
    .site-title-custom {
        padding-top:.5rem;
        padding-bottom: .5rem
    }
}

.site-title-custom:hover {
    background-image: linear-gradient(-90deg, #201f23 0%, rgba(32,31,35,0.8) 80%, rgba(32,31,35,0) 100%)
}

.site-title-custom {
    font-size: 1rem !important;
    font-weight: 700 !important
}